{% extends "ideal/tests/base.html" %}

{% block extra_js %}
    <script type="text/javascript">
        function toggleSettings() {
            var div = document.getElementById('settings');
            if (div.style.display !== 'none') {
                div.style.display = 'none';
            }
            else {
                div.style.display = 'block';
            }
        }
    </script>
{% endblock %}

{% block config_params %}{% endblock %}

{% block content %}

    <p>For a successfull iDEAL payment the following flow should be followed.</p>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 50px;">Step</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Requests a list of issuers.</td>
                <td>Function: <a href="{% url 'ideal_tests_get_issuers' %}">get_issuers(...)</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Select an issuer.</td>
                <td><i>User action</i></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Start a new transaction.</td>
                <td>Function: <a href="{% url 'ideal_tests_start_transaction' %}">start_transaction(...)</a></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Authenticate transaction.</td>
                <td><i>User/Acceptant action</i></td>
            </tr>
            <tr>
                <td>5</td>
                <td>Request transaction status.</td>
                <td>Function: <a href="{% url 'ideal_tests_get_transaction_status' %}">get_transaction_status(...)</a></td>
            </tr>
        </tbody>
    </table>

    <p>This API provides functionality for performing steps <strong>1, 3 &amp; 5</strong>.</p>

    <p>
        <span class="label label-info">Note</span>
        For optimal performance, the list of issuers (step 1) can be cached locally.
    </p>

    {% if settings %}
        <p>
            <button class="btn" onclick="javascript: toggleSettings();">Show settings</button>
        </p>

        <div id="settings" style="display: none;">
            <h3>Settings</h3>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Option</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>PRIVATE_KEY_FILE</td>
                        <td>{{ settings.PRIVATE_KEY_FILE }}</td>
                    </tr>
                    <tr>
                        <td>PRIVATE_KEY_PASSWORD</td>
                        <td>{{ private_key_password }}</td>
                    </tr>
                    <tr>
                        <td rowspan="2">PRIVATE_CERTIFICATE</td>
                        <td>{{ settings.PRIVATE_CERTIFICATE }}</td>
                    </tr>
                    <tr>
                        <td><span class="label label-info">Fingerprint</span> {{ fingerprint }}</td>
                    </tr>
                    <tr>
                        <td>CERTIFICATES</td>
                        <td>{% for cert in settings.CERTIFICATES %}{{ cert }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                    </tr>
                    <tr>
                        <td>MERCHANT_ID</td>
                        <td>{{ settings.MERCHANT_ID }}</td>
                    </tr>
                    <tr>
                        <td>SUB_ID</td>
                        <td>{{ settings.SUB_ID }}</td>
                    </tr>
                    <tr>
                        <td>EXPIRATION_PERIOD</td>
                        <td>{{ settings.EXPIRATION_PERIOD }}</td>
                    </tr>
                    <tr>
                        <td>MERCHANT_RETURN_URL</td>
                        <td>{{ settings.MERCHANT_RETURN_URL }}</td>
                    </tr>
                    <tr>
                        <td>ACQUIRER</td>
                        <td>{{ settings.ACQUIRER }}</td>
                    </tr>
                    <tr>
                        <td rowspan="2">ACQUIRER_URL</td>
                        <td>{{ acquirer_url }}</td>
                    </tr>
                    <tr>
                        <td>
                             <span class="label label-info">Note</span> {% if not settings.ACQUIRER_URL %}Resolved from ACQUIRER and DEBUG settings{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>LANGUAGE</td>
                        <td>{{ settings.LANGUAGE }}</td>
                    </tr>
                    <tr>
                        <td>DEBUG</td>
                        <td>{{ settings.DEBUG }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}
